@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #2f2f2f;
    --secondary-color: #111111;
    --highlight-color: #8cff2e;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Manrope", serif;
    scroll-behavior: smooth;
    letter-spacing: -0.5px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}